#chatroom-collection .chatroom {
  height: 100px;
  color: black;
  background-color: white;
  border-radius: 7px;
  margin: 10px 0;
  text-align: center;
  line-height: 100px;

  /* align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around; */
}

#chatroom-collection .chatroom p {
  padding: 0 5px;
}

#chatroom-collection .chatroom img {
  height: 70px;
  width: 70px;
  padding: 0;
  margin: auto auto;
}

#chatroom-collection .not-joined .chatroom {
  background-color: gray !important;
}
