.chat,
.dm {
  overflow: none;
  height: 100%;
}

#chat-top-button {
  height: 55px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: black;
}

#chat-top-button button {
  height: 55px;
}

.chat .text-small {
  font-size: 0.9rem;
}

#chat-collection {
  overflow-y: scroll;
  word-wrap: break-word;
  padding-right: 0;
  padding-left: 0;
  height: calc(100% - 40px - 55px - 50px);
}

#dm-collection {
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 0;
  height: calc(100% - 40px - 50px);
}

.recv-chat {
  margin-left: 10px;
}

.send-chat {
  margin-right: 10px;
}

.recv-chat,
.send-chat {
  width: 70%;
}

/* userName | time */

.small-text {
  color: white;
  font-size: 9px;
}

#input-chat {
  height: 50px;
}

#input-chat input {
  width: calc(100% - 50px);
}

#input-chat .submit {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  background-color: white;
}

.chat::-webkit-scrollbar {
  display: none;
}

.chat .rounded-lg {
  border-radius: 0.5rem;
}

#button-addon2 {
  padding: 0;
  height: 0;
}
