#content .inner-box .rankwrapper {
  height: calc(100% - 35px - 30px - 30px);
  padding: 0 20px;
}

#content .inner-box .rankbody {
  box-sizing: border-box;
  height: 100%;
  border: 1px solid white;
  background-color: white;
  margin: 0 20px;
  color: black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  overflow-y: scroll;
  margin-top: 10px;
  float: left;
  width: calc(49% - 40px);
}

@media screen and (max-width: 1200px) {
  #content > div > div > div:nth-child(2) {
    height: calc(50% - 44px) !important;
    width: 90% !important;
    /* display: none; */
  }

  #content > div > div > div:nth-child(1) {
    height: calc(50% - 44px) !important;
    width: 90% !important;
  }
}

#content .inner-box .ranktitle {
  height: 35px;
  text-align: center;
  font-family: sans-serif;
  color: black;
}

#content .rank-text {
  height: 30px;
  margin-bottom: 5px;
  margin-left: 0px;
}

#content .rank-text .ranking {
  background-image: url('../images/normal.png');
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  margin-bottom: 5px;
  float: left;
  width: 33%;
}

#content .rank-text .nickname {
  float: left;
  width: 33%;
}

#content .rank-text .rating {
  float: left;
  width: 33%;
}

#content .rank-text .rank-1 {
  background-image: url('../images/gold.png');
}

#content .rank-text .rank-2 {
  background-image: url('../images/silver.png');
}

#content .rank-text .rank-3 {
  background-image: url('../images/bronze.png');
}
