#content {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px);
}

.background-dark {
  background-color: rgba(0, 0, 0, 0.5);
}

#content .inner-box {
  position: absolute;
  width: calc(100% - 400px);
  height: 100%;
  padding: 0 20px;
}

@media screen and (max-width: 900px) {
  #content .inner-box {
    width: 100%;
  }
}

#content .inner-box .title {
  height: 35px;
  margin: 20px 0;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

#content .inner-box .body {
  box-sizing: border-box;
  height: 100%;
  border: 1px solid white;
  background-color: white;
  margin: 0px;
  color: black;
  height: calc(100% - 35px - 30px - 30px);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
