#home .body {
  min-height: 600px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#home .body .half-width {
  flex: 1;
  height: 100%;
}

#home .body p {
  margin: 0 10px;
}

#tournament-body {
  padding-top: 10px;
  height: 100%;
}

#guild-war-body {
  padding-top: 10px;
  height: 100%;
}

#guild-war-body img,
#tournament-body img {
  width: 80%;
}
