/* common styles for website */

html,
body,
main,
#root .content {
  height: 100%;
}

/* navigation */

#nav {
  height: 50px;
  z-index: 99999;
}

#root {
  overflow-x: hidden;
}

main {
  height: calc(100% - 50px);
}

/* background image */

.background-image {
  background-size: cover;
  background-image: url('../images/space.jpg');
  width: 100%;
  height: calc(100% - 50px);
  left: 0;
  position: absolute;
  z-index: -1;
}

#content {
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
}

@media (max-width: 576px) {
  #collapsingNavbar {
    background: #343a40;
    position: relative;
    right: -10rem;
    width: 100%;
    padding-left: 5px;
    text-justify: auto;
  }
}
