/* common styles for website */

html, body, main, #root .content {
    height: 100%;
}

/* background image */
.background-image {
    background-size: cover;
    background-image: url('../images/space.jpg');
}