#my-page .body .profile {
  height: 100%;
  padding: 50px 100px;
}

#my-page .upload-image img {
  display: block;
  margin: auto;
}

#my-page .upload-image label {
  margin: 10px auto;
  width: 100px;
  display: block;
}

#my-page form {
  position: relative;
  border: 1px solid black;
  /* 100% - image (200) - margin (10) - button (38) - margin (10) */
  height: calc(100% - 200px - 10px - 38px - 10px);
}

#my-page form .inner-box {
  position: absolute;
  width: 100%;
  padding: 20px;
}

#my-page form button {
  display: block;
  width: 100px;
  margin: 0 auto;
}
