#side {
  overflow: hidden;
  position: absolute;
  right: 0;
  width: 400px;
  height: calc(100% - 50px);
}

#side .nav .active {
  color: black;
}

#side .nav-link {
  color: white;
}

#side .nav-item {
  padding: 0;
}
