<div id="admin" class="inner-box background-dark no-selection">
  <h3 class="title">Admin</h3>
  <div class="content-wrapper" id="admin-body">
    <ul class="nav nav-tabs admin-nav-tabs">
      <li class="nav-item">
        <a href="#" class="nav-link active" id="user-tab">User</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" id="guild-tab">Guild</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" id="tournament-tab">Tournament</a>
      </li>
    </ul>
    <div id="admin-content"></div>
  </div>
</div>
