<div id="chatroom-collection" class="flex-fill container">
  <div class="chatroom row no-selection cursor">
    <span class="col-3">
      <img src="/images/plus-icon.png"/>
    </span>
    <p class="col-9">Add ChatRoom</p>
  </div>
  <div class="chatroom row no-selection cursor">
    <span class="col-3">
      <img src="/images/chat-icon.png" />
    </span>
    <p class="col-9">ChatRoom A</p>
  </div>
  <div class="chatroom row no-selection cursor">
    <span class="col-3">
      <img src="/images/chat-icon.png" />
    </span>
    <p class="col-9">ChatRoom B</p>
  </div>
</div>
