<div class="chat">
  <div id="chat-top-button">
    <button
      type="button"
      id="chatroom-setting-button"
      class="col btn-dark btn-lg"
    >
      Setting Room
    </button>
    <button type="button" id="chat-user-button" class="col btn-dark btn-lg">
      User
    </button>
  </div>
  <div id="chat-collection">
    <!-- message box append here -->
  </div>
  <!-- Typing area -->
  <div id="input-chat">
    <img class="submit" src="/images/send-icon.png" />
    <input
      type="text"
      placeholder="Type a message"
      class="form-control rounded-0 border-0 py-4 bg-light"
    />
  </div>
</div>
