<div class="inner-box background-dark no-selection">
  <h3 class="title">
    Game
    <button type="button" class="btn btn-success" id="rule-btn">Rule</button>
  </h3>
  <div class="d-flex justify-content-between" id="game-body">
    <div id="left-button"></div>
    <div class="d-flex justify-content-center">
      <div class="game-box" id="box1"></div>
      <div class="game-box" id="box2"></div>
      <div class="game-box" id="box3"></div>
    </div>
    <div id="right-button"></div>
  </div>
</div>
