<div class="inner-box background-dark no-selection">
  <h3 class="title">Game</h3>
  <div
    class="d-flex justify-content-between"
    id="game-body"
    style="height: calc(100% - 100px)"
  >
    <div
      id="left-button"
      style="
        width: 50px;
        height: calc(100% - 100px);
        background-image: url(/images/plus-icon.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50px;
      "
    ></div>
    <div
      class="d-flex justify-content-center"
      style="width: calc(100% - 150px); height: calc(100% - 100px)"
    >
      <div id="box1" style="padding-right: 20px"></div>
      <div id="box2" style="padding-right: 20px"></div>
      <div id="box3" style="padding-right: 20px"></div>
    </div>
    <div
      id="right-button"
      style="
        width: 50px;
        height: calc(100% - 100px);
        background-image: url(/images/plus-icon.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50px;
      "
    ></div>
  </div>
</div>
