<th scope="row" war-id="<%= id %>" class="wartime"><%= from.name %></th>
<td war-id="<%= id %>" class="wartime"><%= end_at.substring(0, 10) %></td>
<td war-id="<%= id %>" class="wartime"><%= avoid_chance %></td>
<td war-id="<%= id %>" class="wartime"><%= war_time %></td>
<td war-id="<%= id %>" class="wartime"><%= prize %></td>
<td war-id="<%= id %>" class="wartime"><%= tta %></td>
<td war-id="<%= id %>" class="wartime"><%= is_extended %></td>
<td war-id="<%= id %>" class="wartime"><%= is_addon %></td>
