<div id="guild-war-declare">
  <h6 style="text-align: center">Guild War Declare</h6>
  <label>
    <span class="war-declare-form">name</span>
    <input type="text" placeholder="name" /> </label
  ><br />
  <label>
    <span class="war-declare-form">Start</span>
    <input type="text" id="start-date-picker" /> </label
  ><br />
  <label>
    <span class="war-declare-form">End</span>
    <input type="text" id="end-date-picker" /> </label
  ><br />
  <label>
    <span class="war-declare-form">War time</span>
    <input type="text" placeholder="구현해야함" /> </label
  ><br />
  <label>
    <span class="war-declare-form">Avoid Chance</span>
    <input type="number" min="1" value="1" /> </label
  ><br />
  <label>
    <span class="war-declare-form">Prize</span>
    <input type="number" min="1" value="1" /> </label
  ><br />
  <label>
    <span class="war-declare-form">Option</span>
    <span>add on</span>
    <input type="checkbox" />
    <span>extend</span>
    <input type="checkbox" /> </label
  ><br />
  <button
    class="btn btn-primary btn-block"
    type="submit"
    id="guild-war-declare-btn"
    style="margin: auto; margin-top: 20px; width: 100px"
  >
    신청
  </button>
</div>
<h6 style="text-align: center; margin-top: 20px">Guild War Invite List</h6>
<div id="guild-war-invite"></div>
