<div id="guild-war-declare">
  <h4 style="text-align: center">Guild War Declare</h4>
  <div class="form-group row">
    <label for="guild-name" class="col-4 col-form-label">Name</label>
    <div class="col-8">
      <input
        class="form-control"
        type="text"
        placeholder="guild name"
        id="guild-name"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="start-date" class="col-4 col-form-label">Start</label>
    <div class="col-8">
      <input class="form-control" type="date" id="end-date" />
    </div>
  </div>
  <div class="form-group row">
    <label for="start-date" class="col-4 col-form-label">End</label>
    <div class="col-8">
      <input class="form-control" type="date" id="start-date" />
    </div>
  </div>
  <div class="form-group row">
    <label for="war-time" class="col-4 col-form-label">War time</label>
    <div class="col-8">
      <input
        class="form-control"
        type="text"
        placeholder="Not implemented"
        id="war-time"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="avoid-chance" class="col-4 col-form-label">Avoid Chance</label>
    <div class="col-8">
      <input
        class="form-control"
        type="number"
        min="1"
        value="1"
        id="avoid-chance"
      />
    </div>
  </div>
  <div class="form-group row">
    <label for="prize" class="col-4 col-form-label">Prize</label>
    <div class="col-8">
      <input class="form-control" type="number" min="1" value="1" id="prize" />
    </div>
  </div>
  <div class="form-group row">
    <label for="option" class="col-4 col-form-label">Option</label>
    <div class="col-8">
      <label for="is-add-on">add on</label>
      <input type="checkbox" id="is-add-on" />
      <label for="is-extended">extend</label>
      <input type="checkbox" id="is-extended" />
    </div>
  </div>

  <button
    class="btn btn-primary btn-block"
    type="submit"
    id="guild-war-declare-btn"
    style="margin: auto; margin-top: 20px; width: 100px"
  >
    신청
  </button>
</div>
<h6 style="text-align: center; margin-top: 20px">Guild War Invite List</h6>
<div id="guild-war-invite"></div>
