<table class="table-responsive table-striped table-bordered">
  <thead>
    <tr style="text-align: center">
      <th scope="col" class="wartime">Name</th>
      <th scope="col" class="wartime">End Date</th>
      <th scope="col" class="wartime">Avoid Chance</th>
      <th scope="col" class="wartime">War Time</th>
      <th scope="col" class="wartime">Prize</th>
      <th scope="col" class="wartime">TTA</th>
      <th scope="col" class="wartime">Extend</th>
      <th scope="col" class="wartime">Addon</th>
    </tr>
  </thead>
  <tbody id="guild-war-collection" style="text-align: center"></tbody>
</table>
