<div id="home" class="inner-box background-dark">
  <h3 class="title">Home</h3>
  <div class="body">
    <div class="no-selection card half-width bg-light mb-3">
      <div class="card-header">Tournament</div>
      <div id="tournament-body">
        <img
          id="tournament-img"
          src="/images/not_found_cat.jpg"
          alt="not found cat"
          width="350"
          height="350"
        />
        <p id="tournament-text">There's no active tournament.</p>
      </div>
    </div>
    <div class="no-selection card half-width bg-light mb-3">
      <div class="card-header">Guild War</div>
      <div id="guild-war-body">
        <img
          id="guild-war-img"
          src="/images/not_found_cat.jpg"
          alt="not found cat"
          width="350"
          height="350"
        />
        <p id="guild-war-text">There's no active guild war.</p>
      </div>
    </div>
  </div>
</div>
