<div class="d-flex flex-column justify-content-center" id="login-box">
  <div class="login-box-header">
    <h4>Login</h4>
  </div>
  <div class="login-box-content">
    <div class="fb-login box-shadow"></div>
    <div class="gp-login box-shadow">
      <a
        class="d-flex flex-row align-items-center social-login-link"
        href="/users/auth/marvin"
      >
        <img class="social-login-link-icon" src="/images/42.jpg" />
        Login with 42</a
      >
    </div>
  </div>
  <div class="d-flex flex-row align-items-center login-box-seperator-container">
    <div class="login-box-seperator"></div>
    <div class="login-box-seperator-text">
      <p>or</p>
    </div>
    <div class="login-box-seperator"></div>
  </div>
  <div class="id-login">
    <input
      type="text"
      class="id-input form-control"
      style="margin-top: 10px"
      required=""
      placeholder="Id"
      id="user_email"
    /><input
      type="password"
      class="password-input form-control"
      rquired=""
      placeholder="Password"
      id="user_password"
    />
  </div>
  <div class="submit-row">
    <button
      class="btn btn-outline-dark btn-block"
      type="submit"
      id="login-button"
    >
      Login
    </button>
    <button
      class="btn btn-outline-dark btn-block"
      type="submit"
      id="signup-button"
    >
      Sign Up
    </button>
  </div>
</div>
