<div id="my-page" class="inner-box background-dark">
  <h3 class="title">My Page</h3>
  <div class="body">
    <div class="profile">
      <div class="upload-image">
        <img
          width="200"
          height="200"
          src="<%= image.url ? image.url : '/images/default-profile.png' %>"
        />
        <label class="btn btn-primary">
          <input id="image-button" type="file" hidden />
          Upload
        </label>
      </div>
      <form>
        <div class="inner-box">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label"
              >Nickname</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="inputEmail3"
                value="<%= nickname %>"
              />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2">Enable 2FA</div>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1"
                <%= is_email_auth ? 'checked' : '' %> />
              </div>
            </div>
          </div>
          <p>
            if you enable 2 factor authentication, we send an email check your
            identity when you login
          </p>
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
