<div class="container-fluid">
  <a href="#" class="navbar-brand">Pong</a>
  <!-- left navigation -->
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a href="#" class="nav-link"> Admin </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"> Game </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"> Guild </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"> Ranking </a>
    </li>
  </ul>
  <!-- right navigation -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a href="#" class="nav-link"> Login </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"> Logout </a>
    </li>
  </ul>
</div>
