<div class="sub-body guild-create">
  <h5 class="sub-title">Create Guild</h5>
  <div id="guild-create-form" style="margin: 0 10px">
    <input
      type="text"
      class="form-control"
      style="margin-top: 10px"
      placeholder="Guild Name"
      id="guild_name"
    />
    <input
      type="text"
      class="form-control"
      style="margin-top: 10px"
      placeholder="Anagram"
      id="anagram"
    />
    <button
      class="btn btn-outline-dark btn-block"
      style="margin-top: 30px"
      type="submit"
      id="guild-create-button"
    >
      Create
    </button>
    <img
      src="/images/paris.png"
      style="width: 100%; height: 100%; margin-bottom: 0"
    />
  </div>
</div>
<div class="sub-body">
  <h5 class="sub-title">Invite List</h5>
  <div id="guild-invite-body"></div>
</div>
