<!-- OkModalView -->
<div
  class="modal fade"
  id="ok-modal-view"
  tabindex="-1"
  role="dialog"
  aria-labelledby="ok-modal-view-title"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ok-modal-view-title">Title Here</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Text Here</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ErrorModalView -->
<div
  class="modal fade"
  id="error-modal-view"
  tabindex="-1"
  role="dialog"
  aria-labelledby="error-modal-view-title"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="/images/error-icon.png" width="50" height="50" />
        <h5
          class="modal-title"
          id="error-modal-view-title"
          style="line-height: 50px; margin-left: 5px"
        >
          <div class="modal-title"></div>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Text Here</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<div class="content"></div>
