<div id="side-nav" class="container col-12">
  <ul class="row nav nav-tabs">
    <li class="col-4 nav-item">
      <a href="#" class="nav-link active" id="chat-tab">Chat</a>
    </li>
    <li class="col-4 nav-item">
      <a href="#" class="nav-link" id="dm-tab">DM</a>
    </li>
    <li class="col-4 nav-item">
      <a href="#" class="nav-link" id="friend-tab">Friend</a>
    </li>
  </ul>
</div>
<div class="content"></div>

<!-- chatRoomSettingModal -->
<div
  class="modal fade"
  id="chatRoomSettingModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Setting ChatRoom</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="row form-group col-12">
              <label class="col-3 col-form-label" for="room-name">name</label>
              <input
                class="col-9 form-control"
                type="email"
                class="form-control"
                id="room-name"
                placeholder="name"
              />
            </div>
            <div class="row form-group col-12">
              <div class="col-3"></div>
              <div class="col-3 custom-checkbox p-0">
                <input type="checkbox" id="public" value="public room" />
                <label
                  for="public"
                  style="
                    margin: 0;
                    padding: 0 10px;
                    height: 38px;
                    line-height: 38px;
                  "
                  >public room</label
                >
              </div>
              <div class="row m-0 p-0 col-6 form-group">
                <label class="col-3 col-form-label" for="password">pass</label>
                <input
                  class="col-9 form-control"
                  type="email"
                  id="password"
                  placeholder="password"
                  disabled
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" id="submit-button" class="btn btn-primary">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>

<!-- chatRoomUserModal -->
<div
  class="modal fade"
  id="chatRoomUserModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered"
    style="max-width: 300px"
    role="document"
  >
    <div class="modal-content" style="min-height: 500px">
      <div class="modal-header">
        <h5 class="modal-title">Chat Room User</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div
        class="modal-body"
        id="chatroom-user-collection"
        style="overflow-y: scroll"
      ></div>
    </div>
  </div>
</div>
