<div class="user-info row" style="max-height: 200px">
  <img
    class="profile-image"
    style="height: 200px; width: 200px"
    src="/images/42.jpg"
  />
  <div class="profile-string">
    <h2>name : <%= nickname %></h2>
    <h2>rating : <%= rating %></h2>
  </div>
</div>
<div class="profile-buttons" style="margin-bottom: 10px">
  <button
    type="button"
    class="btn btn-primary"
    style="width: 105px !important"
    id="add-friend-button"
  >
    Add Friend
  </button>
  <button
    type="button"
    class="btn btn-primary"
    style="width: 105px !important"
    id="block-button"
  >
    Block User
  </button>
  <button
    type="button"
    class="btn btn-primary"
    style="width: 105px !important"
    id="request-pong-button"
  >
    Match
  </button>
  <button
    type="button"
    class="btn btn-primary"
    style="width: 105px !important"
    id="guild-invite-button"
  >
    길드초대
  </button>
  <button
    type="button"
    class="btn btn-primary"
    style="width: 105px !important"
    id="dm-button"
  >
    DM
  </button>
</div>
